* {
	margin: 0;
	padding: 0;
}

.header-container {
	padding: 1%;
	display: flex;
	justify-content: space-between;
}

.user-logo {
	display: inline-block;
}

.user-links {
	display: inline-block;
	vertical-align: middle;
	width: fit-content;
}

h1 {
	font-size: 2vw;
}

li {
	display: inline;
	font-size: 1vw;
}
